# 全局设置
APP_ENV=production               # 应用环境设置为生产
APP_DEBUG=false                  # 禁用调试模式
APP_URL=http://localhost:8080    # 应用的URL地址

# 数据库凭据
MYSQL_HOST=mysql                 # MySQL数据库主机
MYSQL_PORT=3307                  # MySQL数据库端口（已修改）
MYSQL_DATABASE=epay              # MySQL数据库名称
MYSQL_USER=epay                  # MySQL数据库用户名
MYSQL_PASSWORD=secret            # MySQL数据库用户密码
MYSQL_ROOT_PASSWORD=supersecret  # MySQL数据库root用户密码

# Redis配置
REDIS_HOST=redis                 # Redis服务器主机
REDIS_PORT=6379                  # Redis服务器端口
REDIS_PASSWORD=                  # Redis服务器密码（如有）

# Nginx公开HTTP端口
NGINX_PORT=8080                  # Nginx服务监听的端口
